
.rounded div{
    margin-top: 5px;
}

.c2 p{
    font-size: 23px;
}

.c4 p{
    font-size: 12px;
    font-weight: 500;
}

.ktg{
    font-weight: bold;
}

span{
    font-weight: 400;
    margin-left: 10px;
}

